.card {
  max-width: 70rem;
  padding-bottom: 2rem;
}

.card-title {
  padding-bottom: 0.7rem;
}

.image {
  max-width: 85rem;
  max-height: 25rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
