.image {
  max-height: 600px;
}

.grid-item {
  padding-bottom: 40px;
}

.link-text {
  text-decoration: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
